<!DOCTYPE html>
<html>
<head>
	<title>RPSLS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div id="app">
		<div>
			Player One: {{playerOneTotal}} - Player Two: {{playerTwoTotal}}
		</div>
	  <p>{{ playerOne }}</p>
	  <button class="btn btn-warning" v-on:click="setPlayerOneToRock">Rock</button>
	  <button class="btn btn-warning" v-on:click="setPlayerOneToPaper">Paper</button>
	  <button class="btn btn-warning" v-on:click="setPlayerOneToScissors">Scissors</button>
	  <button class="btn btn-warning" v-on:click="setPlayerOneToLizard">Lizard</button>
	  <button class="btn btn-warning" v-on:click="setPlayerOneToSpock">Spock</button>
	  <br>
	  <div v-if="playerOnePlayed">
	  <p>{{ playerTwo }}</p>
		  <button class="btn btn-primary" v-on:click="setPlayerTwoToRock">Rock</button>
		  <button class="btn btn-primary" v-on:click="setPlayerTwoToPaper">Paper</button>
		  <button class="btn btn-primary" v-on:click="setPlayerTwoToScissors">Scissors</button>
		  <button class="btn btn-primary" v-on:click="setPlayerTwoToLizard">Lizard</button>
		  <button class="btn btn-primary" v-on:click="setPlayerTwoToSpock">Spock</button>
	  </div>
	  <p>{{result}}</p>
	  
	  <div v-if="winner">
	  	<p>Winner: {{winner}}</p>
	  	<button class="btn btn-dark" v-on:click="reset">Reset</button>
	  </div>
	</div>
</body>
</html>