body{
	background-color: #500000;
}
#app{
	background-color: #500000;
	color: white;
}

.btn-warning{
	height: 150px;
	width: 150px;
}

.btn-primary{
	height: 150px;
	width: 150px;
}

img{
	border-radius: .25rem;
}

#winner{
	margin-top: 15px;
}