body{
	background-color: #500000;
}
#app{
	background-color: #500000;
	color: white;
}

.playerOneBtn{
	height: 150px;
	width: 150px;
}

.playerTwoBtn{
	height: 150px;
	width: 150px;
}

img{
	border-radius: .25rem;
}

#winner{
	margin-top: 15px;
}

#bazinga{
	height: 150px;
	width: 150px;
	display: block;
}

.rules{
	list-style: none;
}
